data.pkl
face_dataset.pkl
facedata1.pkl
facedata1del.pkl
facedataset.pkl
facedatasetdel.pkl
pnn_model.pkl
scaler.pkl
__pycache__
data_set.pkl
datasetname2.pkl
face_dataset3.pkl
face_names2.pkl
large_dataset3.pkl
large_face_names2.pkl
largesetname2.pkl
names.pkl
new_face_encode.pkl
new_face_names.pkl
output_images
recognized_faces
venv
AS_output